*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


/jersey-service/.idea
/jersey-service/target
/jersey-service/out
/jersey-service/repo

/Retro/.idea
/Retro/target
/Retro/out
/Retro/repo
